---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CommentSection from "../../components/CommentSection.svelte";
import { XataClient } from "../../xata";
import { marked } from 'marked';

const xata = new XataClient({
    apiKey: import.meta.env.XATA_API_KEY,
    branch: import.meta.env.XATA_BRANCH,
});

export async function getStaticPaths() {
  const xata = new XataClient({
    apiKey: import.meta.env.XATA_API_KEY,
    branch: import.meta.env.XATA_BRANCH,
  });
  const posts = await xata.db.blogPosts.getAll();

  const routes = posts.map(
    ({
      slug,
      title,
      description,
      content,
      tags,
      publishDate,
      postImage,
      altText,
    }) => {
      return {
        params: { slug },
        props: {
          title,
          description,
          content,
          publishDate,
          tags,
          postImage,
          altText,
        },
      };
    }
  );

  return routes;
}

const post = Astro.props;

const comments = await xata.db.comments.filter({ 'blogPost.slug': post.slug }).getMany();

const markdown = marked.parse(post.content);
---

<BaseLayout>
  <div class="section cc-home-header">
    <div class="custom-container">
      <div class="row row-justify-center">
        <div class="col col-lg-8">
          <div class="date-text cc-blogpage">
            {post?.publishDate.toLocaleDateString("fi-FI")}
          </div>
          <h1 class="blog-heading" transition:name={`${post?.slug}-title`}>
            {post?.title}
          </h1>
          <div
            class="blog-content-wrapper cc-blogpage"
            transition:name={`${post?.slug}-card`}
          >
            <div class="blog-header">
              <div class="blog-tags">
                {
                  post?.tags.map((tag: any) => (
                    <a href="#" class="tag-link">
                      #{tag}
                    </a>
                  ))
                }
              </div>
              <a href="#" class="btn cc-light cc-smaller w-button"
                >Share on twitter</a
              >
            </div>
            {
              post.postImage && (
                <div class="image-wrapper cc-story">
                  <img
                    style="max-height: 20rem;"
                    src={post?.postImage?.url}
                    loading="eager"
                    alt={post?.altText}
                    class="full-image"
                  />
                </div>
              )
            }

            <div class="blog-richtext">
              <article set:html={markdown} class="max-w-none prose prose-li:text-gray-800 prose-ul:list-inside prose-ol:list-inside prose-li:marker:text-purple-800 prose-blockquote:text-gray-800 prose-blockquote:border-purple-500"/>
            </div>
            <a href="#" class="btn cc-light cc-smaller w-button"
              >Leave a comment</a
            >
          </div>
          <CommentSection comments={comments} post={post} client:load />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
