---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { XataClient } from '../../xata';
 
export async function getStaticPaths() {
  const xata = new XataClient({
    apiKey: import.meta.env.XATA_API_KEY,
    branch: import.meta.env.XATA_BRANCH
  });
  const posts = await xata.db.blogPosts.getAll();
 
  const routes = posts.map(({ slug, title, description, content, tags, publishDate, postImage, altText }) => {
    return {
      params: { slug },
      props: { title, description, content, publishDate, tags, postImage, altText },
    };
  });
 
  return routes;
}
 
const post = Astro.props;

/*import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();*/
---

<BaseLayout>
  <div class="section cc-home-header">
    <div class="custom-container">
      <div class="row row-justify-center">
        <div class="col col-lg-8">
          <div class="date-text cc-blogpage">
            {post?.publishDate.toLocaleDateString("fi-FI")}
          </div>
          <h1 class="blog-heading">
            {post?.title}
          </h1>
          <div
            class="blog-content-wrapper"
          >
            <div class="blog-header">
              <div class="blog-tags">
                {
                  post?.tags.map((tag: any) => (
                    <a href="#" class="tag-link">
                      #{tag}
                    </a>
                  ))
                }
              </div>
              <a href="#" class="btn cc-light cc-smaller w-button"
                >Share on twitter</a
              >
            </div>
            <div class="image-wrapper cc-story">
              <img style="max-height: 20rem;" src={post.postImage.url} loading="lazy" alt={post.altText} class="full-image" />
            </div>
            <div class="blog-richtext w-richtext">
              <p>{post?.content}</p>
            </div>
            <a href="#" class="btn cc-light cc-smaller w-button"
              >Leave a comment</a
            >
          </div>
          <div class="u-text-center"></div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>