---
import BaseLayout from '../../layouts/BaseLayout.astro';
import CtaSection from "../../components/CtaSection.astro";
import WorkGrid from "../../components/WorkGrid.astro"

import { getCollection } from 'astro:content';

const allWorks = await getCollection('works');

export async function getStaticPaths() {
  const works = await getCollection('works');
  return works.map(work => ({
    params: { slug: work.slug }, props: { work },
  }));
}

const { work } = Astro.props;
const { Content } = await work.render();

const pageTitle = work.data.name + " - Web Development Project";
---
<BaseLayout pageTitle={pageTitle}>
    <section id="work" class="section cc-projects">
      <WorkGrid works={allWorks} gridClass='workpage-work-grid'/>
      <CtaSection ctaClass="cc-home" />
      <div class="fixed h-full w-full bg-zinc-700/50 top-0 bottom-0 z-10 flex justify-center pt-48">
        <div class="custom-container">
          <div class="row row-justify-center">
            <div transition:name={`${work.slug}-wrapper`} class="col col-lg-8">
              <div class="blog-content-wrapper">
                <div class="blog-header">
                  <a transition:name="post-button" href="/work" class="btn cc-light cc-smaller w-button" style="margin-left: auto;">Close</a>
                </div>
                <h1 transition:name={`${work.slug}-title`} class="blog-heading">{work.data.name}</h1>
                <div class="image-wrapper cc-border u-mb-2">
                  <img style="max-height: 30rem;" transition:name={`${work.slug}-image`} src={`../images/${work.data.img}`} loading="lazy" srcset={`../images/${work.data.img} 500w, ../images/${work.data.img} 800w, ../images/${work.data.img} 1080w, ../images/${work.data.img} 1600w, ../images/${work.data.img} 1920w`} alt={work.data.alt} class="full-image" />
                </div>
                <div class="blog-richtext w-richtext">
                  <Content />
                </div>
                <a href="#" class="btn cc-light cc-smaller w-button">Share on twitter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</BaseLayout>