---
import BaseLayout from "../layouts/BaseLayout.astro";
import CodeText from "../components/CodeText.svelte";
import CtaSection from "../components/CtaSection.astro";
import ProjectGridCard from "../components/ProjectGridCard.astro";

import { fade } from "astro:transitions";

const pageTitle = "Eetu Rantanen | Web Developer from Tampere";

const allWorks = await Astro.glob("../pages/works/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <section class="section cc-home-header">
    <div class="custom-container" transition:name="hero" transition:animate={fade({ duration: "0.4s" })}>
      <div class="row row-no-gutters row-justify-between">
        <div class="col col-no-gutters col-shrink col-md-12">
          <div class="home_header_box">
            <div class="bracket-image-wrapper"><img src="images/bracket--code-angle-programming-file-bracket.svg" loading="lazy" alt="" class="image-overlay" /></div>
            <div class="h1">Eetu<br />Rantanen</div>
          </div>
          <div class="home_header_box is-below">
            <div transition:name="hero-title" class="h1 u-text-bold">Web<br />Developer</div>
            <div class="description-box">
              <h1 transition:name="hero-desc" class="paragraph">Moro! I’m Eetu, A web developer based in Tampere, Finland.</h1>
            </div>
          </div>
          <div class="home_header_box is-tools">
            <div class="tool-box is-first">
              <div class="logos_wrapper">
                <img src="images/html5.svg" loading="lazy" alt="" class="logo-image" />
                <img src="images/css3.svg" loading="lazy" alt="" class="logo-image" />
                <img src="images/js.svg" loading="lazy" alt="" class="logo-image" />
                <img src="images/ts.svg" loading="lazy" alt="" class="logo-image" />
                <img src="images/svelte.svg" loading="lazy" alt="" class="logo-image" />
              </div>
              <div class="toolbox-text">languages</div>
            </div>
            <div class="tool-box">
              <div class="logos_wrapper">
                <img src="images/webflow.svg" loading="lazy" alt="" class="logo-image" />
                <img src="images/svelte-kit.svg" loading="lazy" alt="" class="logo-image" />
                <img src="images/astro.svg" loading="lazy" alt="" class="logo-image" />
                <img src="images/cfw.svg" loading="lazy" alt="" class="logo-image" />
              </div>
              <div class="toolbox-text">tools</div>
            </div>
          </div>
        </div>
        <div class="col col-no-gutters col-shrink col-md-12">
          <CodeText client:load/>
        </div>
      </div>
    </div>
  </section>
  <section id="work" class="section cc-projects">
    <div class="marquee">
      <div class="marquee-content scroll">
        <div>
          <h2 class="h2 u-mb-0">projects</h2>
        </div>
        <div class="bracket-image-wrapper cc-marquee"><img src="images/bracket--code-angle-programming-file-bracket.svg" loading="lazy" alt="" /></div>
        <div>
          <div class="h2 u-mb-0">web dev</div>
        </div>
        <div class="bracket-image-wrapper cc-marquee"><img src="images/bracket--code-angle-programming-file-bracket.svg" loading="lazy" alt="" /></div>
        <div>
          <div class="h2 u-mb-0">projects</div>
        </div>
        <div class="bracket-image-wrapper cc-marquee"><img src="images/bracket--code-angle-programming-file-bracket.svg" loading="lazy" alt="" /></div>
        <div>
          <div class="h2 u-mb-0">web dev</div>
        </div>
        <div class="bracket-image-wrapper cc-marquee"><img src="images/bracket--code-angle-programming-file-bracket.svg" loading="lazy" alt="" /></div>
      </div>
      <div class="marquee-content scroll">
        <div>
          <div class="h2 u-mb-0">projects</div>
        </div>
        <div class="bracket-image-wrapper cc-marquee"><img src="images/bracket--code-angle-programming-file-bracket.svg" loading="lazy" alt="" /></div>
        <div>
          <div class="h2 u-mb-0">web dev</div>
        </div>
        <div class="bracket-image-wrapper cc-marquee"><img src="images/bracket--code-angle-programming-file-bracket.svg" loading="lazy" alt="" /></div>
        <div>
          <div class="h2 u-mb-0">projects</div>
        </div>
        <div class="bracket-image-wrapper cc-marquee"><img src="images/bracket--code-angle-programming-file-bracket.svg" loading="lazy" alt="" /></div>
        <div>
          <div class="h2 u-mb-0">web dev</div>
        </div>
        <div class="bracket-image-wrapper cc-marquee"><img src="images/bracket--code-angle-programming-file-bracket.svg" loading="lazy" alt="" /></div>
      </div>
    </div>
    <div class="home-work-grid">
      {allWorks
        .slice() // Create a copy of the array to avoid mutating the original
        .sort((postA, postB) => postA.frontmatter.order - postB.frontmatter.order) // Sort by the 'order' value
        .map((post) => (
          <ProjectGridCard
            url={post.url}
            img={post.frontmatter.img}
            alt={post.frontmatter.alt}
            name={post.frontmatter.name}
            type={post.frontmatter.type}
            sizeClass={post.frontmatter.sizeclass}
          />
        ))}
    </div>
    <div class="row row-no-gutters cc-border-bottom">
      <div class="col u-mb-0 col-no-gutters col-lg-4">
        <div class="border-box"></div>
      </div>
      <div class="col u-mb-0 col-no-gutters col-lg-3"></div>
      <div class="col u-mb-0 col-no-gutters col-lg-5">
        <div class="works-link-wrapper">
          <a href="#">see all works</a>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="section cc-about">
    <div class="row row-no-gutters">
      <div class="col u-mb-0 col-no-gutters col-lg-4">
        <div class="about-content-wrapper is-left-home">
          <h2 class="home-about-title-text">hello. who is this?</h2>
        </div>
      </div>
      <div class="col u-mb-0 col-no-gutters col-lg-3">
        <div class="image-wrapper cc-about-home">
          <img transition:name="aboutImage" src="images/eetu.rantanen.jpg" loading="lazy" sizes="(max-width: 767px) 13vw, (max-width: 991px) 20vw, 25vw" srcset="images/eetu.rantanen-p-500.jpg 500w, images/eetu.rantanen-p-800.jpg 800w, images/eetu.rantanen.jpg 1000w" alt="" class="full-image cc-portrait" />
          <div class="image-overlay cc-about"></div>
        </div>
      </div>
      <div class="col u-mb-0 col-no-gutters col-lg-5">
        <div class="home-about-content-wrapper">
          <div class="work-content-wrapper">
            <h2 class="h3 u-mb-1">About me</h2>
            <p transition:name="about-desc" class="u-text-justify u-mb-3">Hey! I’m Eetu. self taught web developer living his best life in Tampere, finland. Husband, dad of a human and a dog. Ex semi-professional volleyball player. JEdi. What else?</p>
            <a href="/about" class="btn cc-light w-button">read my story</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <CtaSection ctaClass="cc-home" />
</BaseLayout>

<style>
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 4rem)); /* match 1 rem to gap above */
    }
  }
  .scroll {
    animation: scroll 30s linear infinite;
  }
</style>
