---
const { title, url, pubDate, tags } = Astro.props
---
<div class="col col-lg-4">
    <div class="card">
      <div transition:name={`${url}-wrapper`} class="card-body">
        <div transition:name={`${url}-tags`} class="blog-tags">
          
              <a href="#" class="tag-link">#{[tags]}</a>
          
        </div>
        <h3 transition:name={`${url}-title`}>{title}</h3>
        <a href={url} class="btn cc-light w-button">read post</a>
        <div class="date-text">{pubDate}</div>
      </div>
    </div>
</div>