---
import supabase from "../lib/supabase";

const { data: posts, error } = await supabase
    .from('blogPosts')
    .select('*')
---

<div class="row">
    {posts.map((post: any) =>
        <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="card pb-4">
                <div class="card-body p-4" transition:name={`${post.slug}-card`}>
                    {post.imageUrl && (
                        <div class="border border-solid border-gray-800">
                            <img
                                transition:name={`${post.slug}-image`}
                                src={post.imageUrl}
                                loading="lazy"
                                class="full-image aspect-video"
                            />
                        </div>
                    )}
                    <div class="blog-tags">
                    </div>
                    <h3 class="h3" transition:name={`${post.slug}-title`}>{post.title}</h3>
                    <p class="line-clamp-2 u-mb-3">
                    {post.description}
                    </p>
                    <a href={'/posts/' + post.slug} class="btn cc-light w-button">read post</a>
                    <div class="date-text">{post.publishDate}</div>
                </div>
            </div>
        </div>
    )}
</div>