---
import { createClient } from "@supabase/supabase-js";

const supabase = createClient (import.meta.env.NEXT_PUBLIC_SUPABASE_URL, import.meta.env.NEXT_PUBLIC_SUPABASE_ANON_KEY);
const { data: posts, error } = await supabase
    .from('blogPosts')
    .select('*')

const { data, error3 } = await supabase
    .storage
    .from('images')
    .list('blog', {
    limit: 100,
    offset: 0,
    sortBy: { column: 'name', order: 'asc' },
})
console.log(data)


---

<div class="row">
    {posts.map((post: any) =>
        <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body" transition:name={`${post.slug}-card`}>
                    <div class="image-wrapper cc-about-home">
                        
                        <img
                            transition:name="aboutImage"
                            loading="lazy"
                            class="full-image cc-portrait"
                        />
                        <div class="image-overlay cc-about"></div>
                    </div>
                    <div class="blog-tags">
                    </div>
                    <h3 class="h3" transition:name={`${post.slug}-title`}>{post.title}</h3>
                    <p class="line-clamp-2 u-mb-3">
                    {post.description}
                    </p>
                    <a href={'/posts/' + post.slug} class="btn cc-light w-button">read post</a>
                    <div class="date-text">{post.publishDate}</div>
                </div>
            </div>
        </div>
    )}
</div>