---
import WorkTags from './WorksTags.svelte';

const { work } = Astro.props;
---
<a  
  id="project-wrapper" href={'/works/' + work.slug} 
  class={`image-wrapper cc-projects ${work.sizeclass}`}
>
    <img 
        src={work.imageUrl} loading="lazy" 
        srcset={`${work.imageUrl} 500w, ${work.imageUrl} 800w, ${work.imageUrl} 1080w, ${work.imageUrl} 1600w, ${work.imageUrl} 1920w`} 
        alt={work.altText} 
        class="full-image cc-project" 
    />
    
    <div id="tagsWrapper" class="tags-wrapper">
      <WorkTags client:load name={work.name} type={work.type} isActive={false}></WorkTag>
    </div>
</a>