---
const { url, img, alt, name, type, sizeClass } = Astro.props;
---
<a transition:name={`${url}-wrapper`} id="project-wrapper" href={url} class={`image-wrapper cc-projects ${sizeClass}`}>
    <img transition:name={`${url}-image`} src={img} loading="lazy" srcset={`images/${img} 500w, images/${img} 800w, images/${img} 1080w, images/${img} 1600w, images/${img} 1920w`} 
    alt={alt} class="full-image cc-project" />
    <div class="tags-wrapper">
        <div transition:name={`${url}-title`} id="nameTag" class="tag cc-project-name">{name}</div>
        <div id="typeTag" class="tag cc-project-type">{type}</div>
    </div>
</a>